<%#!! if we want to use a marker uncomment the second line and fix the end of the line%>
<%# <%= image_tag "(add image namefile)", height: 30, width: 30, alt: "Logo" %>
<%#!! if we want to add more info to the marker, fix line 5, at the end%>
<%# <div class="badge rounded-pill bg-primary fs-6"> %>
<%# <%= flat.name %>
<%# </div> %>
