<div class="container">
  <h1 class="text-center my-4">Welcome!</h1>
  <p class="text-center">Find you favourite flat, and book anywhere around the world</p>
  <%= form_with url: flats_path, method: :get, class: "d-flex w-50 p-3 align-middle mx-auto" do %>
    <%= text_field_tag :query,params[:query], class: "form-control", placeholder: "Find a flat" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <%= link_to "View All", flats_path, class: "btn-rounded-blue" %>
  </div>
  <div class="travel-cards">
    <img src="travelling.svg">
    <img src="cabin.svg">
    <img src="photos.svg">
  </div>
</div>
