.content {
  display: flex;
}

.card-container {
  display: grid;
  grid-auto-rows: 1fr;
  // grid-template-columns: 1fr; do we need it?
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
