.content {
  display: flex;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;

  // Smallest device
  @media screen and (min-width: 100px) and (max-width: 575px) {
    grid-template-columns: 1fr;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    grid-template-columns: 1fr;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
